@import '6-utilities/initial-variables';

$modal-background-color : $white;
$modal-header-color: $white;

.modal.open .modalWrapper {
	opacity: 1;
	transform: translate(0,0px);
	transition: all 200ms ease-in-out;
}

.modalWrapper {
  position: absolute;
  z-index: 999;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
	opacity: 0.5;
	transform: translate(0, -120px);
	transition: all 200ms ease-in-out;	

	.modal-dialog {
		width: 800px;
		margin: 1rem;
		background-color: #fff;
		border-radius: $radius-large;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);

		.modal-header {
			display: flex;
		    background-color: #3273dc;
		    padding: 1.25rem;
		    flex-wrap: wrap;
		    border-top-right-radius: 4px;
		    border-top-left-radius: 4px;
		    flex-direction: row-reverse;
		    align-items: center;
		    border-bottom: 1px solid #ddd;

			.modal-title {
				font-size: 2rem!important;
				color: #fff;
			}
			
			.close {
				margin-left: auto;
		        border-radius: 50px;
		        padding: 5px 7px;
		        font-weight: 600;
		        line-height: .9;
		        height: inherit;
		        display: flex;
		        align-items: center;
		        color: rgba(0, 0, 0, 0.2) !important;
		        background-color: rgba(0, 0, 0, 0.5);

				span {
					font-size: 1rem;
					color: #fff;
				}
			}
		}

		.modal-content {
			padding: 1.25rem;
		}

	}
}

