@import '../6-utilities/initial-variables';

.sidebar {
  // background-color: #232f49;
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgb(35,47,73), 
      rgba(255, 0, 0, 0)
    ),
    /* bottom, image */
    url(../../images/sidebar_bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding-top: 5.5rem;
  width: 225px;
  position: fixed;
  // margin-top: 3.9rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: auto;
  z-index: 2;
  // position: fixed; 
  }
  .sidebar .sidebar-wrapper {
    list-style: none;
    padding: .25rem 0; }
    .sidebar .sidebar-wrapper .sidebar-list {
      display: flex;
      align-items: center;
      transition: all .3s;
      font-size: 17px; }
      .sidebar .sidebar-wrapper .sidebar-list a {
        color: #f35f23;
        width: 100%;
        padding: 0.5rem 1.2rem; }
      .sidebar .sidebar-wrapper .sidebar-list .sidebar-menu {
        width: 100%;
        max-height: 0;
        list-style: none;
        opacity: 0;
        visibility: hidden;
        transition: all .3s; 
        background-color: rgba(35,47,73,.6);
      }
        .sidebar .sidebar-wrapper .sidebar-list .sidebar-menu .sidebar-menu-item {
          padding: 0.5rem 1.2rem; 
          transition: all .3s;

          &:hover {
            padding-left: 1.9rem;
          }
        }
          .sidebar .sidebar-wrapper .sidebar-list .sidebar-menu .sidebar-menu-item a {
            align-items: center;
            display: flex; 
            
            i {
              margin-right: 10px;
            }
          }
          .sidebar .sidebar-wrapper .sidebar-list .sidebar-menu .sidebar-menu-item span {
            color: #f35f23;
            margin-right: 10px; }
    .sidebar .sidebar-wrapper .sidebar-list:hover {
      background-color: #f96f3769;
      }
      .sidebar .sidebar-wrapper .sidebar-list:hover a {
        color: #ff8d2a; }
    .sidebar .sidebar-wrapper .has-child {
      max-height: 0;
      flex-wrap: wrap; }

.sidenav-mini {
  width: 70px; }
  .sidenav-mini a {
    display: none; }
