@import '6-utilities/initial-variables';

.header {
	// background-image: url(../img/header-bg.jpg);
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      to right,
      rgb(255,255,255) 30%, 
      rgba(255, 255, 255, .0)
    ),
    /* bottom, image */
    url(../../images/img/header-bg.jpg);
	width: 100%;
	height: 370px;
	min-height: 370px;
	background-size: contain;
    background-position: right;
	background-repeat: no-repeat;
	position: relative;
	z-index: 11;
	display: flex;
	align-items: center;

	&-title {
		font-size: 3.7rem;
		color: #f9ba4b;
		position: relative;
		z-index: 33;
		margin-left: 10%;
		font-weight: 300;

		span {
			color: #f9ba4b;
			font-weight: 400;
		}
	}

	.span-line {
		margin-top: 10px;
		width: 300px;
		height: 4px;
		background-image: linear-gradient(to left, #f9b333, #f9cd7c63);
		position: relative;
		display: flex;
		justify-content: flex-end;
		margin-left: auto;
		z-index: 33;
	}

	.breadcrumb {
		position: relative;
		z-index: 33;
		display: flex;
		justify-content: flex-end;
		margin-left: auto;
		margin-right: 10%;

		a {
			font-size: 17px;
			color: #fff;
			cursor: pointer;
			transition: all .3s;		
		}

		span.icon {
			background-color: #fff;
			padding: 0 7px;
			border-radius: 25px;
			color: $text-highlight;
		}

		a:not(:last-child) {
			margin-right: 15px;
		}

		a:hover {
			color: $text-highlight;
		} 
	}
}

.overlay {
	width: 100%;
	height: 370px;
	display: block;
	background-color: rgba(27, 40, 64, 0.3);
	position: absolute;
	z-index: 22;

	display: none;
}

.container {
	// margin-top: -6rem;
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 44;
	padding-bottom: 1rem;

	.wrapper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		.content-left {
			padding-top: 25px;
			width: 30%;
			display: flex;
			justify-content: center;

			.box-list {
				width: 278px;
				position: relative;
				// border-radius: 4px;
				// box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
				// background-color: #fff;
				// height: 400px;
				// min-height: 400px;

				ul li {list-style: none;}

				.box-header-overlay {

				}

				.box-header {
					// background-image: url(../img/art.jpg);
					// background-size: cover;
					// background-repeat: no-repeat;
					color: #000;
					font-size: 1.85rem;
					padding: 10px 15px;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
					font-weight: 300;
					border-bottom: 2px solid #ddd;

					span {
						font-weight: 400;
					}
				}

				.box-container {
					width: 100%;
					margin-top: 15px;
					position: relative;

					.list {
						width: 100%;
						height: 55px;
						background-image: url(../img/header-bg.jpg);
						background-size: cover;
						background-repeat: no-repeat;
						border-radius: 4px;
						transition: all .3s;
						display: flex;
						align-items: center;

						.list-overlay {
							width: calc(100% - 25px);
							height: 55px;
							background-color: rgba(0,0,0,.5);
							border-radius: 4px;
							position: absolute;
							display: flex;
							align-items: center;
							color: #fff;
							font-size: 1.15rem;
							padding-left: 25px;
						}

						.icon {
							font-size: 1.25rem;
							border-radius: 25px;
							position: relative;
							width: 100%;
							right: 0;
							z-index: 99;
							color: #fff;
							display: flex;
							align-items: center;
							margin-right: 5px;
							float: right;

							i.fas {
								margin-left: auto;
								padding: 5px 10px;
								background-color: $primary-bis;
								border: 4px solid darken($primary-bis, 10%);
								border-radius: 25px;
								opacity: 0;
								margin-right: 30px;
								transition: all .3s;
							}
						}
					}

					.list:hover {
						transform: translate(15px, 0);
						-webkit-box-shadow: 10px 10px 91px 0px rgba(49,245,235,.3);
						-moz-box-shadow: 10px 10px 91px 0px rgba(49,245,235,.3);
						box-shadow: 10px 10px 91px 0px rgba(49,245,235,.3);
						z-index:99;
						cursor:pointer;
					}

					.list:hover > .icon > i.fas {
						opacity: 1;
						margin-right: -20px;
					}

					.list:not(:last-child) {
						margin-bottom: 10px;
					}
				}

				ul {
					margin: 10px 0;

					li {
						padding: 15px;
						font-size: 1.15rem;
						border-radius: 4px;
						cursor: pointer;
						color: #fff;
						transition: all .3s;
						background-color: rgba(0,0,0,.3);
						// position: absolute;
						z-index: 22;

						span {
							// padding: 15px;
							// font-size: 1.15rem;
							// border-radius: 4px;
							// cursor: pointer;
							// color: #fff;
							// transition: all .3s;
							// background-color: rgba(0,0,0,.3);
							// // position: absolute;
							// z-index: 22;
							// background-image: url(../img/art.jpg);
							// background-size: cover;
							// background-repeat: no-repeat;
						}
					}

					li:hover {
						// background-color: #ddd;
					}

					li:not(:last-child) {
						margin-bottom: 10px;
					}
				}
			}

			.title {
				color: #fff;
				font-size: 1.75rem;
				margin-left: -15px;

				span {
					position: absolute;
					padding: 5px 20px 5px 40px;
					z-index: 33;
				}

				.title-bg {
					height: 50px;
					width: 350px; 
					background: $text-highlight;
					-webkit-transform: skew(-20deg); 
					-moz-transform: skew(-20deg); 
					-o-transform: skew(-20deg);
					transform: skew(-20deg);
					border-radius: 4px;
					position: absolute;
					z-index: 11;
					// box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
				}

				.title-bg-o {
					height: 50px;
					width: 330px; 
					background: #fff;
					-webkit-transform: skew(30deg); 
					-moz-transform: skew(30deg); 
					-o-transform: skew(30deg);
					transform: skew(30deg);
					border-radius: 4px;
					position: absolute;
					z-index: 0;
					margin-top: 14px;
					margin-left: 18px;
					box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
				}
			}
		}

		.content-right {
			margin-top: 25px;
			margin-bottom: 25px;
			padding: 0 15px;
			width: calc(70% - 30px);
			display: flex;
			flex-wrap: wrap;

			.list-header {
				width: calc(100% - 30px);
				padding: 10px 15px;
				font-size: 1.75rem;

			}
			
			.card-wrapper {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
			}
			
		}
	}
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// - - - - -  - - - - - - - - - C A R D - - - - -  - - - - - - - - -
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.card {
	display: block;
	margin: 8px;
	width: calc(25% - 16px);
	height: 320px;
	min-height: 320px;
	background-image: url(../img/helmet.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
	border-radius: 4px;
	transition: all .3s;

	&-header {
		height: 200px;
		background-size: cover;
		background-repeat: no-repeat;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all .3s;
	}

	&-title {
		padding: 5px 15px;
		font-size: 1.3rem;
		background-color: #fff;
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		transition: all .3s;

		span {
			font-size: 1rem;
			color: #adadad;
			width: 100%;
		}
		span.price {
			font-size: 1rem;
			color: #000;
		}
	}

	.icon.shop {
		opacity: 0;
		position: absolute;
		z-index: 99;
		margin-left: 75px;
		margin-top: -30px;
		font-size: 1.5rem;
		color: $text-highlight;
		background-color: #fff;
		padding: 8px 12px;
    	width: 30px;
    	left: 50%;
  		margin-left: -30px;
		border-radius: 50px;
		-webkit-box-shadow: 0 10px 91px 0px rgba(0,25,235,.3);
		-moz-box-shadow: 0 10px 91px 0px rgba(0,25,235,.3);
		box-shadow: 0 10px 91px 0px rgba(0,25,235,.3);
		transition: all .3s;
	}
}

.card:hover {
	transform: translate(0, -10px);
	-webkit-box-shadow: 0 10px 91px 0px rgba(0,25,235,.3);
	-moz-box-shadow: 0 10px 91px 0px rgba(0,25,235,.3);
	box-shadow: 0 10px 91px 0px rgba(0,25,235,.3);
	z-index:99;
	cursor:pointer;
}

.card:hover > .card-title , .card:hover > .card-price  {
	transform: translate(-10px, 0);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.card:hover > .icon.shop {
		opacity: 1;
		margin-top: -125px;
}


.footer {
	// background-image: url(../img/footer-bg.jpg);
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      to right,
      rgb(27, 40, 64) 45%, 
      rgba(255, 255, 255, .0)
    ),
    /* bottom, image */
    url(../../images/img/footer-bg.jpg);
	height: 340px;
	min-height: 340px;
	background-position: right;
    background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	z-index: 11;
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	&-left {
		width: calc(40% - 30px);
		height: calc(340px - 30px);
		padding: 15px;
		background-color: $primary;
		// box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);
		// display: flex;
		// flex-wrap: wrap;

		.info-header {
			padding: 10px 15px;
			width: 100%;
			background-color: #fff;
			border-radius: 4px;
			display: flex;
			align-items: center;
			position: relative;
			left: 40px;
			box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);

			img {
				height: 50px;
			}
		}

		p {
			position: relative;
			left: 40px;
			padding: 10px 15px;
			color: #fff;
			font-size: 1rem;
			width: 430px;
			text-align: justify;
			margin-bottom: 2.5rem;
			// width: calc(100% - 30px);
		}

		.link {
			padding-top: 3rem;
			position: relative;
			left: 40px;
			font-size: 1.25rem;
			padding: 0 15px;
			color: #fff;
		}

		.link > .icon {
			padding: 4px 8px;
			border-radius: 25px;
			border: 3px solid $text-highlight;
			margin-right: 15px;
		}
	}

	&-right {
		width: calc(60% - 30px);
		height: calc(340px - 30px);
		padding: 15px;
		display: flex;
		flex-wrap: wrap;
		// align-items: center;
		justify-content: center;

		ul li {list-style: none;}

		.footer-box-page {
			width: 244px;
			margin-top: 2.2rem;
			margin-left: 4rem;

			.box-title {
				font-size: 1.45rem;
				color: #fff;
				font-weight: 300;
				letter-spacing: 1px;
				padding-bottom: 5px;
				border-bottom: 2px solid $primary;
				text-transform: uppercase;

				span {
					font-weight: 700;
				}

	 		}

			ul {padding: 10px 0;}

			ul li {
				padding: 6px;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				transition: all .3s;

				a {
					color: #fff;
				}

				.icon {
					font-size: 14px;
					padding: 1px 7px;
					border: 2px solid $primary;
					color: #fff;
					margin-right: 10px;
					border-radius: 25px;
				}
			}

			ul li:hover {
				padding-left: 25px;
			}
		}
	}
}

.footer-info {
	position: absolute;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	z-index: 33;
}

.footer > .overlay {
	width: 100%;
	height: 340px;
	display: block;
	background-color: rgba(27, 40, 64, 0.6);
	position: absolute;
	z-index: 22;
	display: none;
}

a {
	color: #fff;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;

	$animate: all 0.2s ease-in-out;

	span {
	  font-size: 17px;
	  text-align: center;
	  margin: 0;
	  padding: 0;
	  transition: $animate;
	  position: relative;
	  &:before,
	  &:after {
	    content: "";
	    position: absolute;
	    bottom: -10px;
	    width: 0;
	    height: 3px;
	    margin: 5px 0 0;
	    transition: $animate;
	    transition-duration: 0.3s;
	    opacity: 0;
	  }
	  &.hover-1 {
	    &:after {
	      left: 0;
	      background-color: #fff;
	    }
	  }
	}
	&:hover {
	  cursor: pointer;
	  span {
	    &:before,
	    &:after {
	      width: 100%;
	      opacity: 1;
	    }
	  }
	}
}


.signature {
	background-color: #fff;
	width: 100%;
	height: 65px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	display: none;

	img {
		height: 62px;
		margin-left: 15px;
	}

	.left, .center, .right {
		width: 33.33%;
		display: flex;
		align-items: center;
		justify-content: center;

		color: #b5b4b4;
		font-size: 14px;
		font-style: italic;
	}
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// - - - - - - - - D E T A I L  P A G E - - - - - - - -
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.detail {
	width: 80%;
	margin-top: -4rem;
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);

	&-left {
		width: 45%;
		height: 425px;
		background-image: url(../img/helmet.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		display: flex;
		align-items: flex-end;

		.image-preview {
			position: relative;
			bottom: 0;
			display: flex;
			flex-grow: 1;
			width: 100%;
			align-items: flex-end;
			z-index: 33;
			padding: 10px;

			img {
				width: 80px;
				height: 80px;
				border-radius: 4px;
				box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);
				cursor: pointer;
			}

			img:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	&-right {
		width: 55%;
		height: calc(425px - 2rem);
		background-color: #fff;
		display: flex;
		justify-content: center;
		padding-top: 2rem;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;

		.detail-info {
			padding: 25px;
			width: 100%;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			background-color: #fff;
			display: flex;
			flex-wrap: wrap;

			.detail-title {
				font-size: 1.75rem;
				flex-grow: 1;
				width: 100%;
			}

			.price {
				font-size: 1.35em;
				flex-grow: 1;
				width: 100%;
			}

			p {
				text-align: justify;
				padding-right: 40px;
				margin-bottom: 1rem;
				flex-grow: 1;
				width: calc(100% - 40px);
			}

			.amount {

				.plus, .minus {
					font-size: 17px;
					outline: none;
					border: none;
					padding: 3px 7px;
					border-radius: 25px;
					background-color: #ddd;
				}

				input.preview {
					outline: none;
					border: none;
					font-size: 17px;
					border-radius: 25px;
					background-color: #ddd;
					padding: 3px 17px;
				}

				a.checkout {
					border: 2px solid $primary;
				}

				.checkout:hover > span.icon {
				  opacity: 1;
				  left: 35px;
				  visibility: visible;
				}

				select {
					outline: none;
					border: 2px solid $primary;
					padding: 3px 15px;
					font-size: 17px;
					border-radius: 25px;
					margin-right: 15px;
				}
			}

			.image-preview {
				position: relative;
				bottom: 0;
				display: flex;
				flex-grow: 1;
				width: 100%;
				// align-items: flex-end;
				z-index: 33;

				img {
					width: 80px;
					height: 80px;
					border-radius: 4px;
					// box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);
					border: 1px solid #ddd;
					cursor: pointer;
					transition: all .3s;
				}

				img:not(:last-child) {
					margin-right: 10px;
				}

				img:hover {
					// transform: translate(0, -10px);
					// -webkit-box-shadow: 10px 10px 91px 0px rgba(49,245,235,.3);
					// -moz-box-shadow: 10px 10px 91px 0px rgba(49,245,235,.3);
					// box-shadow: 10px 10px 91px 0px rgba(49,245,235,.3);
					z-index:99;
					cursor:pointer;
				}
			}
		}	
	}
}

.related-product {
	width: 100%;
	margin: 0 0 2rem;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	
	.wrapper {
		width: 80%;
		display: flex;
		flex-wrap: wrap;
	}

	.related-title {
		width: calc(100% - 30px);
		font-size: 1.75rem;
		padding: 5px 15px;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		font-weight: 300;
		border-bottom: 1px solid #ddd;

		span {
			font-weight: 400;
		}
	}

	.card-wrapper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// - - - - - - - - C A R T  P A G E - - - - - - - -
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.cart-wrapper {
	top: 70px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 11;
	display: flex;

	.content-left {
		width: calc(70% - 25px * 2);
		padding: 25px;

		.content-title {
			font-size: 1.75rem;
			padding-bottom: 15px;
		}

		.cart-list-wrapper {
			width: 100%;

			.list-group {
				width: 100%;
				background-color: #fff;
				margin-bottom: 15px;

				.group-title {
					font-size: 1.25rem;
					padding: 5px 15px;
					border-bottom: 1px solid #ddd;
				}
			}

			
		}

		.cart-back-button {
			width: calc(100% - 15px * 2);
			padding: 30px 15px;
			display: flex;
			align-items: center;

			.checkout-button {
				bottom: 15px;
				display: flex;
				// margin: 0 auto;
				width: calc(300px - 15px * 2);

				button {
					width: 100%;
					font-size: 1rem;
					padding: 8px;
					text-align: center;
					background-color: $primary-bis;
					color: #fff;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					border: none;
					outline: none;
					align-items: center;
				}
			}

			button {
				display: flex;
				align-items: center;
				margin-right: auto;
				border: none;
				background-color: transparent;
				color: $primary-bis;
				font-size: 17px;

				i {
					margin-right: 15px;
				}
			}

			.sub-total {
				font-size: 1.25rem;
				font-weight: 700;
				font-family: 'Raleway';
				margin-left: auto;

				span {
					font-size: 14px;
					color: $text;
					margin-right: 5px;
				}
			}
		}
	}

	.content-right {
		width: calc(30% - 25px * 2);
		padding: 25px;

		.card-detail {
			width: calc(100% - 15px * 2);
			height: calc(480px - 15px * 2);
			padding: 15px;
			background-color: $dark-bg;
			border-radius: 4px;
			box-shadow: $bxsh;
			position: relative;

			.title {
				font-size: 1.25rem;
				color: #fff;
				padding-bottom: 15px;
			}

			.notification-detail {
				background-color: #fff;
				font-size: 15px;
				padding: 15px;
				border-radius: 4px;
				box-shadow: $bxsh;
				margin-left: -40px;
			}

			.sub-total {
				font-size: 1.25rem;
				position: absolute;
				bottom: 60px;
				font-weight: 700;
				font-family: 'Raleway';
				margin-left: auto;
				color: #fff;

				span {
					font-size: 14px;
					margin-right: 5px;
				}
			}

			.checkout-button {
				position: absolute;
				bottom: 15px;
				display: flex;
				width: calc(100% - 15px * 2);

				button {
					width: 100%;
					font-size: 1rem;
					padding: 5px;
					background-color: $primary-bis;
					color: #fff;
					border: none;
					outline: none;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}

ul li.cart-list {
	display: flex;
	justify-content: space-between;
	width: calc(100% - 15px * 2);
	list-style: none;
	align-items: center;
	padding: 15px;

	.product-img {
		width: 55px;
		height: 55px;
		display: block;
		background-image: url(../img/helmet.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 4px;
	}

	.product-name {
		font-size: 1.25rem;
		display: flex;
		flex-direction: column;
	}

	.amount {
		display: flex;
		align-items: center;

		button {
			padding: 2px 7px;
			border: none;
			height: 25px;
			outline: none;
			background-color: $primary-bis;
			border-radius: 25px;
			color: #fff;
		}

		input.amount-text {
			border-radius: 25px;
			border: none;
			outline: none;
			background-color: #ddd;
			font-size: 17px;
			padding: 2px 15px;
			margin: 0 10px;
			width: 55px;
		}
	}

	.product-price {
		font-size: 1.25rem;
		font-family: 'Raleway';
		font-weight: 700;
		color: $text;
	}
}

ul li.cart-list:not(:last-child) {
	border-bottom: 1px solid #ddd;
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// - - - - - - - - T O O L T I P - - - - - - - -
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptext.left {
    bottom: 0%;
    left: -22px;
    margin-left: -60px;

    &::after {
    	content: "";
	    position: absolute;
	    top: 33%;
    	left: 104%;
	    /* right: 0; */
	    border-color: transparent transparent transparent #555;
    }
}

.tooltiptext.right {
    bottom: 0%;
    left: 122%;
    margin-left: -60px;

    &::after {
    	content: "";
	    position: absolute;
	    top: 33%;
	    left: -4%;
	    /* right: 104%; */
	    border-color: transparent #555 transparent transparent;
    }
}

.tooltiptext.bottom {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;

    &::after {
    	content: "";
	    position: absolute;
	    top: -10px;
    	left: 50%;
	    /* right: 104%; */
	    border-color: transparent transparent #555 transparent;
    }
}

.tooltiptext.active {
    visibility: visible;
    opacity: 1;
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// - - - - - - - - M O D A L  C H E C K O U T - - - - - - - -
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.modal-wrapper {
	width: calc(100% - 80px * 2);
	height: calc(100% - 80px * 2);
	position: fixed;
	overflow-y: hidden;
	z-index: 500;
	top: -80px;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px;
	background-color: rgba(0,0,0,.8);

	.modal-checkout {
		background-color: #fff;
		width: calc(100% - 15px * 2);
		padding: 15px;
		height: calc(480px - 15px * 2);
		border-radius: 4px;
		box-shadow: $bxsh;
		position: relative;
		display: flex;

		.modal-left , .modal-right {margin-top: 30px;}

		.modal-left {
			width: 70%;
			padding: 15px;
			position: relative;

			.item-name {
				font-size: 2.25rem;
				font-weight: 400;
				-webkit-font-smoothing: antialiased;
				padding-bottom: 15px;
				border-bottom: 1px solid #ddd;
				display: flex;
				align-items: center;

				.product-img {
					width: 55px;
					height: 55px;
					display: block;
					background-image: url(../img/helmet.jpg);
					background-repeat: no-repeat;
					background-size: cover;
					border-radius: 4px;
					margin-right: 15px;
				}
			}

			.item-spec {
				padding-top: 15px;
				font-size: 1rem;
				color: $text;

				ul li {list-style: none;}
			}

			.upload-file {
				position: absolute;
				padding-top: 15px;
				width: calc(100% - 15px * 2);
				border-top: 1px solid #ddd;
				bottom: 15px;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				span {
					font-size: 14px;
					color: #a0a0a0;
					margin-right: 30px;
				}

				input[type='file'] {
					margin-left: auto;
				}
			}
		}

		.modal-right {
			width: 30%;
			padding: 15px;
			background-color: $dark-bg;
			border-radius: 4px;
			box-shadow: $bxsh;
			position: relative;

			.item-name {
				font-size: 2.25rem;
				font-weight: 400;
				-webkit-font-smoothing: antialiased;
				padding-bottom: 15px;
				color: #fff;
			}

			.item-spec {
				padding-top: 15px;
				font-size: 1rem;
				color: #fff;
				width: 100%;
				display: flex;

				span {
					margin-left: auto;

					input {
						border: none;
						background-color: transparent;
						border-bottom: 1px solid #fff;
						width: 30px;
						padding: 0 10px;
						color: #fff;
						text-align: center;
					}

					span {
						margin-left: 5px;
						color: #fff;
					}
				}

				&.bottom {
					position: absolute;
					bottom: 65px;
					width: calc(100% - 15px * 2);
				}
			}

			.line-plus {
				position: absolute;
				bottom: 65px + 15;
				width: calc(100% - 15px * 2);
				font-size: 1.35rem;
				color: #fff;
				display: flex;
				flex-direction: row;
				align-items: center;

				span.line {
					display: block;
					height: 2px;
					width: calc(100% - 15px);
					margin-right: 5px;
					background-color: #fff;
				}
			}

			.button-pay {
				position: absolute;
				bottom: 15px;
				width: 100%;

				button {
					width: calc(100% - 15px * 2);
					border: none;
					background-color: $primary-bis;
					padding: 5px 15px;
					color: #fff;
					font-size: 1rem;
				}
			}
		}

		.button-close {
			position: absolute;
			padding: 3px 9px;
			background-color: nth($danger,1);
			color: rgba(0,0,0,.6);
			border-radius: 50px;
			font-size: 14px;
			right: 5px;
			top: 5px;
			z-index: 99;
			cursor: pointer;
		}
	}
}

.modal-wrapper.active {
	opacity: 1;
	transition: all .3s;
	top: 0;
	visibility: visible;
}
