@import '../6-utilities/initial-variables';

$primary-background-color : #3273dc;
$secondary-background-color : #194690;
$accent-background-color : #5916d6;

.main {

}

.navbar, .navbar-menu,
.navbar-start, .navbar-end {
  display: flex;
  align-items: stretch; }

.navbar {
  min-height: 4.25rem;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%; }
  .navbar .navbar-brand {
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-height: 3.25rem;
    width: 12%;
    display: flex;

    .logo-bg {
      -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      background-color: #fff;
      position: absolute;
      width: 200px;
      height: 70px;
      display: none;
    }

    img {
      height: 80px;
      position: relative;
      z-index: 9999;
    }
  }
  .navbar .navbar-menu {
    flex-grow: 1;
    background-color: $primary-background-color;
    // opacity: .3;

    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    flex-shrink: 0; }
    .navbar .navbar-menu .navbar-start {
      display: flex;
      margin-left: 35px;
      justify-content: flex-end; }
    .navbar .navbar-menu .navbar-end {
      justify-content: flex-end;
      margin-left: auto; }

.navbar-item {
  color: #000;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 1.25rem;
  position: relative;
  cursor: pointer;
  align-items: center;
  display: flex;
  z-index: 30; 

  a {
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    $animate: all 0.2s ease-in-out;

    span {
      font-size: 17px;
      text-align: center;
      margin: 0;
      padding: 0;
      transition: $animate;
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 0;
        height: 3px;
        margin: 5px 0 0;
        transition: $animate;
        transition-duration: 0.3s;
        opacity: 0;
      }
      &.hover-1 {
        &:after {
          left: 0;
          background-color: #fff;
        }
      }
    }
    &:hover {
      cursor: pointer;
      span {
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}

.navbar-burger {
  cursor: pointer;
  display: none;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  background-color: whitesmoke;
  border-radius: 25px; }
  .navbar-burger span {
    background-color: currentColor;
    display: block;
    top: 30%;
    left: 30%;
    height: 3px;
    margin-bottom: 5px;
    margin-left: -2px;
    position: relative;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, -webkit-transform;
    transition-property: background-color, opacity, transform;
    transition-property: background-color, opacity, transform, -webkit-transform;
    transition-timing-function: ease-out;
    width: 25px; }

.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 0.05); }

.navbar-dropdown {
  background-color: white;
  border-top: 2px solid #dbdbdb;
  box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
  font-size: 0.875rem;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 100%;
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 200ms ease-in-out;
  z-index: 20; }
  .navbar-dropdown .navbar-item {
    padding: 1rem;
    white-space: nowrap; }
    .navbar-dropdown .navbar-item .icon {
      margin-right: 10px; }

.is-show {
  opacity: 1!important;
  transform: translate(0,0px)!important;
  transition: all 320ms ease-in-out!important;
}

.search-bar {
  border-radius: 4px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
  // background-color: #fff; 
}
  .search-bar .icon {
    font-size: 20px;
    position: relative;
    background-color: $secondary-background-color;
    padding: 12px;
    min-width: 120px;
    min-width: 120px;
    border-radius: 4px 4px 4px 50px;
    text-align: center;
    margin-left: -50px;
    color: #fff; 
    overflow: hidden;

    i.fa-search, i.fa-arrow-right {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      position: relative;
    }
  }
  
  i.fa-arrow-right {
    opacity: 0;
    visibility: hidden;
    left: -40px;
  }

  i.fa-search {
    opacity: 1;
    visibility: visible;
    left: -5px;
  }

  .search-bar .icon:hover > i.fa-arrow-right {
    opacity: 1;
    visibility: visible;
    left: 20px;
  }

  .search-bar .icon:hover > i.fa-search {
    opacity: 0;
    visibility: hidden;
    left: 30px;
  }

  .search-bar .input {
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #fff;
    min-width: 450px;
    min-width: 450px;
    font-size: 16px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 12px 15px 12px 15px; }
  .search-bar .input:focus {
    // border: 3px solid rgba(61,228,184,1);
    // -webkit-transition: all .3s;
    // -o-transition: all .3s;
    // transition: all .3s;
  }

.logo {
  padding: 1rem 2rem;
  position: absolute;
  top: -2px;
  margin-left: 9px;
  transform: skew(-15deg);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  border-radius: 4px;
  height: 55px; 

  img {
    transform: skew(15deg);
  }
}

.account {
  background-color: $accent-background-color;
  padding: 0 1.5rem;
  color: #fafafa; }
  .account img {
    height: 30px;
    border-radius: 25px;
    margin-left: 8px; }
  .account p {
    margin-left: 8px; }
  .account .icon {
    margin-left: 8px; }


.button-cart {
  padding: 5px 8px;
  background-color: #fff;
  color: $primary-background-color !important;
  border-radius: 25px;
}

.button-cart > .icon {
  opacity: 0;
  transition: all .3s;
  position: relative;
  left: -30px;
  visibility: hidden;
}

.button-cart > .text {
  transition: all .3s;
  position: relative;
  visibility: visible;
  left: -12px;
}

.button-cart > .cart-count {
  background-color: $primary-bis;
  color: #fff;
  padding: 0 6px;
  border-radius: 25px;
}

.button-cart.shop:hover > span.text {
  opacity: 0;
  left: 30px;
  visibility: hidden;
}

.button-cart.shop:hover > span.icon {
  opacity: 1;
  left: 19px;
  visibility: visible;
}

.checkout {
  background-color: $primary-background-color !important;
  color: #fff !important;
  border-radius: 4px;
}

.checkout:not(:last-child) {
  margin-right: 10px;
}

.is-link {
  background-color: transparent !important;
  color: $primary-background-color !important;
  border: 1px solid $primary-background-color !important;
}