@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  background-color: #f9f9f9;
  text-size-adjust: 100%; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }

body,
button,
input,
select,
textarea {
  font-family: 'open sans', sans-serif;
  border-radius: 2px; }

button,
a {
  cursor: pointer; }

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: sans-serif; }

body {
  color: #121212;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif; }

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none; }

a strong {
  color: currentColor; }

a:hover {
  color: #194690; }

hr {
  background-color: inherit;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0; }

img {
  max-width: 100%; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline; }

small {
  font-size: 0.875em; }

span {
  font-style: inherit;
  font-weight: inherit;
  word-wrap: break-word; }

strong {
  color: #121212;
  font-weight: 600; }

pre {
  color: #121212;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: nowrap;
  word-wrap: normal; }

pre code {
  background-color: transparent;
  color: currentColor;
  font-size: 1em;
  padding: 0; }

table
td,
th {
  text-align: left;
  vertical-align: top; }

table
td th,
th th {
  color: #121212; }

::-webkit-input-placeholder {
  color: #ddd; }

:-moz-placeholder {
  color: #ddd; }

::-moz-placeholder {
  color: #ddd; }

:-ms-input-placeholder {
  color: #ddd; }

* {
  padding: 0;
  margin: 0; }

main {
  width: 83.33% !important; }

.is-dropdown {
  visibility: hidden; }
.is-show {
  display: block;
  visibility: visible !important;
  opacity: 1 !important;
  max-height: 250px !important; }
.is-hide {
  display: none; }
.is-white {
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  color: #121212 !important; }
.is-primary {
  background-color: #3273dc !important;
  color: #fff !important; }
.is-danger {
  background-color: #ff3860 !important;
  color: #fff !important; }
.is-warning {
  background-color: #ffdd57 !important;
  color: rgba(0, 0, 0, 0.7) !important; }
.is-success {
  background-color: #23d160 !important;
  color: #fff !important; }
.is-centered {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
.is-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
.is-left {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }
.is-grouped {
  display: flex;
  clear: both;
  justify-content: center;
  align-items: center; }
.is-grouped-right {
  display: flex;
  clear: both;
  justify-content: flex-end;
  align-items: flex-end; }
.is-grouped-left {
  display: flex;
  clear: both;
  justify-content: flex-start;
  align-items: flex-start; }
.is-link {
  background-color: transparent !important;
  color: #3273dc !important; }
.is-block {
  margin: 1rem 0 2rem; }
.is-expand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center !important; }

.initialize-after {
  margin-top: 9.1rem; }

.block {
  margin-bottom: 1.75rem; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 12px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

h1, .huge {
  font-size: 25px !important;
  line-height: 1.05 !important; }

@media only screen and (max-width: 680px) {
  h1, .huge {
    font-size: 44px; } }
h2, .large {
  font-size: 42px !important;
  line-height: 1.14 !important; }

@media only screen and (max-width: 680px) {
  h2, .large {
    font-size: 32px; } }
h3, .bigger {
  font-size: 26px !important;
  line-height: 1.38 !important; }

@media only screen and (max-width: 680px) {
  h3, .bigger {
    font-size: 22px; } }
h4, .big {
  font-size: 22px !important;
  line-height: 1.38 !important; }

@media only screen and (max-width: 680px) {
  h4, .big {
    font-size: 18px; } }
.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

.spin {
  transition: .3s; }

.spin-effect {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg); }

.pulse {
  cursor: pointer;
  border-radius: 100px;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 3s infinite; }

.pulse:hover {
  animation: none; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 50px rgba(204, 169, 44, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 50px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 50px rgba(204, 169, 44, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
.plus-sign-up:before, .plus-sign-up:after {
  position: relative;
  display: block;
  content: "";
  background-color: #999;
  transition: .3s; }
.plus-sign-up:before {
  width: 10px;
  height: 2px;
  background-color: #d63031;
  right: 4px;
  transition: .3s; }

.plus-sign-bottom:before, .plus-sign-bottom:after {
  position: relative;
  display: block;
  content: "";
  background-color: #999;
  transition: .3s; }
.plus-sign-bottom:before {
  width: 10px;
  height: 2px;
  top: 6px;
  right: 4px;
  transition: .3s; }
.plus-sign-bottom:after {
  height: 10px;
  width: 2px;
  transition: .3s; }

.header {
  background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)), url(../../images/img/header-bg.jpg);
  width: 100%;
  height: 370px;
  min-height: 370px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  z-index: 11;
  display: flex;
  align-items: center; }
  .header-title {
    font-size: 3.7rem;
    color: #f9ba4b;
    position: relative;
    z-index: 33;
    margin-left: 10%;
    font-weight: 300; }
    .header-title span {
      color: #f9ba4b;
      font-weight: 400; }
  .header .span-line {
    margin-top: 10px;
    width: 300px;
    height: 4px;
    background-image: linear-gradient(to left, #f9b333, #f9cd7c63);
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    z-index: 33; }
  .header .breadcrumb {
    position: relative;
    z-index: 33;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 10%; }
    .header .breadcrumb a {
      font-size: 17px;
      color: #fff;
      cursor: pointer;
      transition: all .3s; }
    .header .breadcrumb span.icon {
      background-color: #fff;
      padding: 0 7px;
      border-radius: 25px;
      color: #3273dc; }
    .header .breadcrumb a:not(:last-child) {
      margin-right: 15px; }
    .header .breadcrumb a:hover {
      color: #3273dc; }

.overlay {
  width: 100%;
  height: 370px;
  display: block;
  background-color: rgba(27, 40, 64, 0.3);
  position: absolute;
  z-index: 22;
  display: none; }

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 44;
  padding-bottom: 1rem; }
  .container .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .container .wrapper .content-left {
      padding-top: 25px;
      width: 30%;
      display: flex;
      justify-content: center; }
      .container .wrapper .content-left .box-list {
        width: 278px;
        position: relative; }
        .container .wrapper .content-left .box-list ul li {
          list-style: none; }
        .container .wrapper .content-left .box-list .box-header {
          color: #000;
          font-size: 1.85rem;
          padding: 10px 15px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          font-weight: 300;
          border-bottom: 2px solid #ddd; }
          .container .wrapper .content-left .box-list .box-header span {
            font-weight: 400; }
        .container .wrapper .content-left .box-list .box-container {
          width: 100%;
          margin-top: 15px;
          position: relative; }
          .container .wrapper .content-left .box-list .box-container .list {
            width: 100%;
            height: 55px;
            background-image: url(../img/header-bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 4px;
            transition: all .3s;
            display: flex;
            align-items: center; }
            .container .wrapper .content-left .box-list .box-container .list .list-overlay {
              width: calc(100% - 25px);
              height: 55px;
              background-color: rgba(0, 0, 0, 0.5);
              border-radius: 4px;
              position: absolute;
              display: flex;
              align-items: center;
              color: #fff;
              font-size: 1.15rem;
              padding-left: 25px; }
            .container .wrapper .content-left .box-list .box-container .list .icon {
              font-size: 1.25rem;
              border-radius: 25px;
              position: relative;
              width: 100%;
              right: 0;
              z-index: 99;
              color: #fff;
              display: flex;
              align-items: center;
              margin-right: 5px;
              float: right; }
              .container .wrapper .content-left .box-list .box-container .list .icon i.fas {
                margin-left: auto;
                padding: 5px 10px;
                background-color: #3273dc;
                border: 4px solid #205bbb;
                border-radius: 25px;
                opacity: 0;
                margin-right: 30px;
                transition: all .3s; }
          .container .wrapper .content-left .box-list .box-container .list:hover {
            transform: translate(15px, 0);
            -webkit-box-shadow: 10px 10px 91px 0px rgba(49, 245, 235, 0.3);
            -moz-box-shadow: 10px 10px 91px 0px rgba(49, 245, 235, 0.3);
            box-shadow: 10px 10px 91px 0px rgba(49, 245, 235, 0.3);
            z-index: 99;
            cursor: pointer; }
          .container .wrapper .content-left .box-list .box-container .list:hover > .icon > i.fas {
            opacity: 1;
            margin-right: -20px; }
          .container .wrapper .content-left .box-list .box-container .list:not(:last-child) {
            margin-bottom: 10px; }
        .container .wrapper .content-left .box-list ul {
          margin: 10px 0; }
          .container .wrapper .content-left .box-list ul li {
            padding: 15px;
            font-size: 1.15rem;
            border-radius: 4px;
            cursor: pointer;
            color: #fff;
            transition: all .3s;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 22; }
          .container .wrapper .content-left .box-list ul li:not(:last-child) {
            margin-bottom: 10px; }
      .container .wrapper .content-left .title {
        color: #fff;
        font-size: 1.75rem;
        margin-left: -15px; }
        .container .wrapper .content-left .title span {
          position: absolute;
          padding: 5px 20px 5px 40px;
          z-index: 33; }
        .container .wrapper .content-left .title .title-bg {
          height: 50px;
          width: 350px;
          background: #3273dc;
          -webkit-transform: skew(-20deg);
          -moz-transform: skew(-20deg);
          -o-transform: skew(-20deg);
          transform: skew(-20deg);
          border-radius: 4px;
          position: absolute;
          z-index: 11; }
        .container .wrapper .content-left .title .title-bg-o {
          height: 50px;
          width: 330px;
          background: #fff;
          -webkit-transform: skew(30deg);
          -moz-transform: skew(30deg);
          -o-transform: skew(30deg);
          transform: skew(30deg);
          border-radius: 4px;
          position: absolute;
          z-index: 0;
          margin-top: 14px;
          margin-left: 18px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); }
    .container .wrapper .content-right {
      margin-top: 25px;
      margin-bottom: 25px;
      padding: 0 15px;
      width: calc(70% - 30px);
      display: flex;
      flex-wrap: wrap; }
      .container .wrapper .content-right .list-header {
        width: calc(100% - 30px);
        padding: 10px 15px;
        font-size: 1.75rem; }
      .container .wrapper .content-right .card-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap; }

.card {
  display: block;
  margin: 8px;
  width: calc(25% - 16px);
  height: 320px;
  min-height: 320px;
  background-image: url(../img/helmet.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  transition: all .3s; }
  .card-header {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s; }
  .card-title {
    padding: 5px 15px;
    font-size: 1.3rem;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all .3s; }
    .card-title span {
      font-size: 1rem;
      color: #adadad;
      width: 100%; }
    .card-title span.price {
      font-size: 1rem;
      color: #000; }
  .card .icon.shop {
    opacity: 0;
    position: absolute;
    z-index: 99;
    margin-left: 75px;
    margin-top: -30px;
    font-size: 1.5rem;
    color: #3273dc;
    background-color: #fff;
    padding: 8px 12px;
    width: 30px;
    left: 50%;
    margin-left: -30px;
    border-radius: 50px;
    -webkit-box-shadow: 0 10px 91px 0px rgba(0, 25, 235, 0.3);
    -moz-box-shadow: 0 10px 91px 0px rgba(0, 25, 235, 0.3);
    box-shadow: 0 10px 91px 0px rgba(0, 25, 235, 0.3);
    transition: all .3s; }

.card:hover {
  transform: translate(0, -10px);
  -webkit-box-shadow: 0 10px 91px 0px rgba(0, 25, 235, 0.3);
  -moz-box-shadow: 0 10px 91px 0px rgba(0, 25, 235, 0.3);
  box-shadow: 0 10px 91px 0px rgba(0, 25, 235, 0.3);
  z-index: 99;
  cursor: pointer; }

.card:hover > .card-title, .card:hover > .card-price {
  transform: translate(-10px, 0);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }

.card:hover > .icon.shop {
  opacity: 1;
  margin-top: -125px; }

.footer {
  background: linear-gradient(to right, #1b2840 45%, rgba(255, 255, 255, 0)), url(../../images/img/footer-bg.jpg);
  height: 340px;
  min-height: 340px;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 11;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .footer-left {
    width: calc(40% - 30px);
    height: calc(340px - 30px);
    padding: 15px;
    background-color: #3273dc, #fff; }
    .footer-left .info-header {
      padding: 10px 15px;
      width: 100%;
      background-color: #fff;
      border-radius: 4px;
      display: flex;
      align-items: center;
      position: relative;
      left: 40px;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3); }
      .footer-left .info-header img {
        height: 50px; }
    .footer-left p {
      position: relative;
      left: 40px;
      padding: 10px 15px;
      color: #fff;
      font-size: 1rem;
      width: 430px;
      text-align: justify;
      margin-bottom: 2.5rem; }
    .footer-left .link {
      padding-top: 3rem;
      position: relative;
      left: 40px;
      font-size: 1.25rem;
      padding: 0 15px;
      color: #fff; }
    .footer-left .link > .icon {
      padding: 4px 8px;
      border-radius: 25px;
      border: 3px solid #3273dc;
      margin-right: 15px; }
  .footer-right {
    width: calc(60% - 30px);
    height: calc(340px - 30px);
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .footer-right ul li {
      list-style: none; }
    .footer-right .footer-box-page {
      width: 244px;
      margin-top: 2.2rem;
      margin-left: 4rem; }
      .footer-right .footer-box-page .box-title {
        font-size: 1.45rem;
        color: #fff;
        font-weight: 300;
        letter-spacing: 1px;
        padding-bottom: 5px;
        border-bottom: 2px solid #3273dc, #fff;
        text-transform: uppercase; }
        .footer-right .footer-box-page .box-title span {
          font-weight: 700; }
      .footer-right .footer-box-page ul {
        padding: 10px 0; }
      .footer-right .footer-box-page ul li {
        padding: 6px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        transition: all .3s; }
        .footer-right .footer-box-page ul li a {
          color: #fff; }
        .footer-right .footer-box-page ul li .icon {
          font-size: 14px;
          padding: 1px 7px;
          border: 2px solid #3273dc, #fff;
          color: #fff;
          margin-right: 10px;
          border-radius: 25px; }
      .footer-right .footer-box-page ul li:hover {
        padding-left: 25px; }

.footer-info {
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  z-index: 33; }

.footer > .overlay {
  width: 100%;
  height: 340px;
  display: block;
  background-color: rgba(27, 40, 64, 0.6);
  position: absolute;
  z-index: 22;
  display: none; }

a {
  color: #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  a span {
    font-size: 17px;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    position: relative; }
    a span:before, a span:after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0;
      height: 3px;
      margin: 5px 0 0;
      transition: all 0.2s ease-in-out;
      transition-duration: 0.3s;
      opacity: 0; }
    a span.hover-1:after {
      left: 0;
      background-color: #fff; }
  a:hover {
    cursor: pointer; }
    a:hover span:before, a:hover span:after {
      width: 100%;
      opacity: 1; }

.signature {
  background-color: #fff;
  width: 100%;
  height: 65px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  display: none; }
  .signature img {
    height: 62px;
    margin-left: 15px; }
  .signature .left, .signature .center, .signature .right {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b5b4b4;
    font-size: 14px;
    font-style: italic; }

.detail {
  width: 80%;
  margin-top: -4rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3); }
  .detail-left {
    width: 45%;
    height: 425px;
    background-image: url(../img/helmet.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: flex-end; }
    .detail-left .image-preview {
      position: relative;
      bottom: 0;
      display: flex;
      flex-grow: 1;
      width: 100%;
      align-items: flex-end;
      z-index: 33;
      padding: 10px; }
      .detail-left .image-preview img {
        width: 80px;
        height: 80px;
        border-radius: 4px;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
        cursor: pointer; }
      .detail-left .image-preview img:not(:last-child) {
        margin-right: 10px; }
  .detail-right {
    width: 55%;
    height: calc(425px - 2rem);
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; }
    .detail-right .detail-info {
      padding: 25px;
      width: 100%;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: #fff;
      display: flex;
      flex-wrap: wrap; }
      .detail-right .detail-info .detail-title {
        font-size: 1.75rem;
        flex-grow: 1;
        width: 100%; }
      .detail-right .detail-info .price {
        font-size: 1.35em;
        flex-grow: 1;
        width: 100%; }
      .detail-right .detail-info p {
        text-align: justify;
        padding-right: 40px;
        margin-bottom: 1rem;
        flex-grow: 1;
        width: calc(100% - 40px); }
      .detail-right .detail-info .amount .plus, .detail-right .detail-info .amount .minus {
        font-size: 17px;
        outline: none;
        border: none;
        padding: 3px 7px;
        border-radius: 25px;
        background-color: #ddd; }
      .detail-right .detail-info .amount input.preview {
        outline: none;
        border: none;
        font-size: 17px;
        border-radius: 25px;
        background-color: #ddd;
        padding: 3px 17px; }
      .detail-right .detail-info .amount a.checkout {
        border: 2px solid #3273dc, #fff; }
      .detail-right .detail-info .amount .checkout:hover > span.icon {
        opacity: 1;
        left: 35px;
        visibility: visible; }
      .detail-right .detail-info .amount select {
        outline: none;
        border: 2px solid #3273dc, #fff;
        padding: 3px 15px;
        font-size: 17px;
        border-radius: 25px;
        margin-right: 15px; }
      .detail-right .detail-info .image-preview {
        position: relative;
        bottom: 0;
        display: flex;
        flex-grow: 1;
        width: 100%;
        z-index: 33; }
        .detail-right .detail-info .image-preview img {
          width: 80px;
          height: 80px;
          border-radius: 4px;
          border: 1px solid #ddd;
          cursor: pointer;
          transition: all .3s; }
        .detail-right .detail-info .image-preview img:not(:last-child) {
          margin-right: 10px; }
        .detail-right .detail-info .image-preview img:hover {
          z-index: 99;
          cursor: pointer; }

.related-product {
  width: 100%;
  margin: 0 0 2rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap; }
  .related-product .wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap; }
  .related-product .related-title {
    width: calc(100% - 30px);
    font-size: 1.75rem;
    padding: 5px 15px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;
    border-bottom: 1px solid #ddd; }
    .related-product .related-title span {
      font-weight: 400; }
  .related-product .card-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }

.cart-wrapper {
  top: 70px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 11;
  display: flex; }
  .cart-wrapper .content-left {
    width: calc(70% - 25px * 2);
    padding: 25px; }
    .cart-wrapper .content-left .content-title {
      font-size: 1.75rem;
      padding-bottom: 15px; }
    .cart-wrapper .content-left .cart-list-wrapper {
      width: 100%; }
      .cart-wrapper .content-left .cart-list-wrapper .list-group {
        width: 100%;
        background-color: #fff;
        margin-bottom: 15px; }
        .cart-wrapper .content-left .cart-list-wrapper .list-group .group-title {
          font-size: 1.25rem;
          padding: 5px 15px;
          border-bottom: 1px solid #ddd; }
    .cart-wrapper .content-left .cart-back-button {
      width: calc(100% - 15px * 2);
      padding: 30px 15px;
      display: flex;
      align-items: center; }
      .cart-wrapper .content-left .cart-back-button .checkout-button {
        bottom: 15px;
        display: flex;
        width: calc(300px - 15px * 2); }
        .cart-wrapper .content-left .cart-back-button .checkout-button button {
          width: 100%;
          font-size: 1rem;
          padding: 8px;
          text-align: center;
          background-color: #3273dc;
          color: #fff;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          border: none;
          outline: none;
          align-items: center; }
      .cart-wrapper .content-left .cart-back-button button {
        display: flex;
        align-items: center;
        margin-right: auto;
        border: none;
        background-color: transparent;
        color: #3273dc;
        font-size: 17px; }
        .cart-wrapper .content-left .cart-back-button button i {
          margin-right: 15px; }
      .cart-wrapper .content-left .cart-back-button .sub-total {
        font-size: 1.25rem;
        font-weight: 700;
        font-family: 'Raleway';
        margin-left: auto; }
        .cart-wrapper .content-left .cart-back-button .sub-total span {
          font-size: 14px;
          color: #615f5f;
          margin-right: 5px; }
  .cart-wrapper .content-right {
    width: calc(30% - 25px * 2);
    padding: 25px; }
    .cart-wrapper .content-right .card-detail {
      width: calc(100% - 15px * 2);
      height: calc(480px - 15px * 2);
      padding: 15px;
      background-color: #40424a;
      border-radius: 4px;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
      position: relative; }
      .cart-wrapper .content-right .card-detail .title {
        font-size: 1.25rem;
        color: #fff;
        padding-bottom: 15px; }
      .cart-wrapper .content-right .card-detail .notification-detail {
        background-color: #fff;
        font-size: 15px;
        padding: 15px;
        border-radius: 4px;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
        margin-left: -40px; }
      .cart-wrapper .content-right .card-detail .sub-total {
        font-size: 1.25rem;
        position: absolute;
        bottom: 60px;
        font-weight: 700;
        font-family: 'Raleway';
        margin-left: auto;
        color: #fff; }
        .cart-wrapper .content-right .card-detail .sub-total span {
          font-size: 14px;
          margin-right: 5px; }
      .cart-wrapper .content-right .card-detail .checkout-button {
        position: absolute;
        bottom: 15px;
        display: flex;
        width: calc(100% - 15px * 2); }
        .cart-wrapper .content-right .card-detail .checkout-button button {
          width: 100%;
          font-size: 1rem;
          padding: 5px;
          background-color: #3273dc;
          color: #fff;
          border: none;
          outline: none;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center; }

ul li.cart-list {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 15px * 2);
  list-style: none;
  align-items: center;
  padding: 15px; }
  ul li.cart-list .product-img {
    width: 55px;
    height: 55px;
    display: block;
    background-image: url(../img/helmet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px; }
  ul li.cart-list .product-name {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column; }
  ul li.cart-list .amount {
    display: flex;
    align-items: center; }
    ul li.cart-list .amount button {
      padding: 2px 7px;
      border: none;
      height: 25px;
      outline: none;
      background-color: #3273dc;
      border-radius: 25px;
      color: #fff; }
    ul li.cart-list .amount input.amount-text {
      border-radius: 25px;
      border: none;
      outline: none;
      background-color: #ddd;
      font-size: 17px;
      padding: 2px 15px;
      margin: 0 10px;
      width: 55px; }
  ul li.cart-list .product-price {
    font-size: 1.25rem;
    font-family: 'Raleway';
    font-weight: 700;
    color: #615f5f; }

ul li.cart-list:not(:last-child) {
  border-bottom: 1px solid #ddd; }

.tooltip {
  position: relative; }

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s; }

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

.tooltiptext.left {
  bottom: 0%;
  left: -22px;
  margin-left: -60px; }
  .tooltiptext.left::after {
    content: "";
    position: absolute;
    top: 33%;
    left: 104%;
    /* right: 0; */
    border-color: transparent transparent transparent #555; }

.tooltiptext.right {
  bottom: 0%;
  left: 122%;
  margin-left: -60px; }
  .tooltiptext.right::after {
    content: "";
    position: absolute;
    top: 33%;
    left: -4%;
    /* right: 104%; */
    border-color: transparent #555 transparent transparent; }

.tooltiptext.bottom {
  bottom: -44px;
  left: 50%;
  margin-left: -60px; }
  .tooltiptext.bottom::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    /* right: 104%; */
    border-color: transparent transparent #555 transparent; }

.tooltiptext.active {
  visibility: visible;
  opacity: 1; }

.modal-wrapper {
  width: calc(100% - 80px * 2);
  height: calc(100% - 80px * 2);
  position: fixed;
  overflow-y: hidden;
  z-index: 500;
  top: -80px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background-color: rgba(0, 0, 0, 0.8); }
  .modal-wrapper .modal-checkout {
    background-color: #fff;
    width: calc(100% - 15px * 2);
    padding: 15px;
    height: calc(480px - 15px * 2);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex; }
    .modal-wrapper .modal-checkout .modal-left, .modal-wrapper .modal-checkout .modal-right {
      margin-top: 30px; }
    .modal-wrapper .modal-checkout .modal-left {
      width: 70%;
      padding: 15px;
      position: relative; }
      .modal-wrapper .modal-checkout .modal-left .item-name {
        font-size: 2.25rem;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center; }
        .modal-wrapper .modal-checkout .modal-left .item-name .product-img {
          width: 55px;
          height: 55px;
          display: block;
          background-image: url(../img/helmet.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 4px;
          margin-right: 15px; }
      .modal-wrapper .modal-checkout .modal-left .item-spec {
        padding-top: 15px;
        font-size: 1rem;
        color: #615f5f; }
        .modal-wrapper .modal-checkout .modal-left .item-spec ul li {
          list-style: none; }
      .modal-wrapper .modal-checkout .modal-left .upload-file {
        position: absolute;
        padding-top: 15px;
        width: calc(100% - 15px * 2);
        border-top: 1px solid #ddd;
        bottom: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .modal-wrapper .modal-checkout .modal-left .upload-file span {
          font-size: 14px;
          color: #a0a0a0;
          margin-right: 30px; }
        .modal-wrapper .modal-checkout .modal-left .upload-file input[type='file'] {
          margin-left: auto; }
    .modal-wrapper .modal-checkout .modal-right {
      width: 30%;
      padding: 15px;
      background-color: #40424a;
      border-radius: 4px;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
      position: relative; }
      .modal-wrapper .modal-checkout .modal-right .item-name {
        font-size: 2.25rem;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        padding-bottom: 15px;
        color: #fff; }
      .modal-wrapper .modal-checkout .modal-right .item-spec {
        padding-top: 15px;
        font-size: 1rem;
        color: #fff;
        width: 100%;
        display: flex; }
        .modal-wrapper .modal-checkout .modal-right .item-spec span {
          margin-left: auto; }
          .modal-wrapper .modal-checkout .modal-right .item-spec span input {
            border: none;
            background-color: transparent;
            border-bottom: 1px solid #fff;
            width: 30px;
            padding: 0 10px;
            color: #fff;
            text-align: center; }
          .modal-wrapper .modal-checkout .modal-right .item-spec span span {
            margin-left: 5px;
            color: #fff; }
        .modal-wrapper .modal-checkout .modal-right .item-spec.bottom {
          position: absolute;
          bottom: 65px;
          width: calc(100% - 15px * 2); }
      .modal-wrapper .modal-checkout .modal-right .line-plus {
        position: absolute;
        bottom: 80px;
        width: calc(100% - 15px * 2);
        font-size: 1.35rem;
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center; }
        .modal-wrapper .modal-checkout .modal-right .line-plus span.line {
          display: block;
          height: 2px;
          width: calc(100% - 15px);
          margin-right: 5px;
          background-color: #fff; }
      .modal-wrapper .modal-checkout .modal-right .button-pay {
        position: absolute;
        bottom: 15px;
        width: 100%; }
        .modal-wrapper .modal-checkout .modal-right .button-pay button {
          width: calc(100% - 15px * 2);
          border: none;
          background-color: #3273dc;
          padding: 5px 15px;
          color: #fff;
          font-size: 1rem; }
    .modal-wrapper .modal-checkout .button-close {
      position: absolute;
      padding: 3px 9px;
      background-color: #ff3860;
      color: rgba(0, 0, 0, 0.6);
      border-radius: 50px;
      font-size: 14px;
      right: 5px;
      top: 5px;
      z-index: 99;
      cursor: pointer; }

.modal-wrapper.active {
  opacity: 1;
  transition: all .3s;
  top: 0;
  visibility: visible; }

.navbar, .navbar-menu,
.navbar-start, .navbar-end {
  display: flex;
  align-items: stretch; }

.navbar {
  min-height: 4.25rem;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%; }

.navbar .navbar-brand {
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-height: 3.25rem;
  width: 12%;
  display: flex; }
  .navbar .navbar-brand .logo-bg {
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background-color: #fff;
    position: absolute;
    width: 200px;
    height: 70px;
    display: none; }
  .navbar .navbar-brand img {
    height: 80px;
    position: relative;
    z-index: 9999; }

.navbar .navbar-menu {
  flex-grow: 1;
  background-color: #3273dc;
  flex-shrink: 0; }

.navbar .navbar-menu .navbar-start {
  display: flex;
  margin-left: 35px;
  justify-content: flex-end; }

.navbar .navbar-menu .navbar-end {
  justify-content: flex-end;
  margin-left: auto; }

.navbar-item {
  color: #000;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 1.25rem;
  position: relative;
  cursor: pointer;
  align-items: center;
  display: flex;
  z-index: 30; }
  .navbar-item a {
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .navbar-item a span {
      font-size: 17px;
      text-align: center;
      margin: 0;
      padding: 0;
      transition: all 0.2s ease-in-out;
      position: relative; }
      .navbar-item a span:before, .navbar-item a span:after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 0;
        height: 3px;
        margin: 5px 0 0;
        transition: all 0.2s ease-in-out;
        transition-duration: 0.3s;
        opacity: 0; }
      .navbar-item a span.hover-1:after {
        left: 0;
        background-color: #fff; }
    .navbar-item a:hover {
      cursor: pointer; }
      .navbar-item a:hover span:before, .navbar-item a:hover span:after {
        width: 100%;
        opacity: 1; }

.navbar-burger {
  cursor: pointer;
  display: none;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  background-color: whitesmoke;
  border-radius: 25px; }

.navbar-burger span {
  background-color: currentColor;
  display: block;
  top: 30%;
  left: 30%;
  height: 3px;
  margin-bottom: 5px;
  margin-left: -2px;
  position: relative;
  -webkit-transform-origin: center;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, opacity, transform;
  transition-property: background-color, opacity, transform, -webkit-transform;
  transition-timing-function: ease-out;
  width: 25px; }

.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 0.05); }

.navbar-dropdown {
  background-color: white;
  border-top: 2px solid #dbdbdb;
  box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
  font-size: 0.875rem;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 100%;
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 200ms ease-in-out;
  z-index: 20; }

.navbar-dropdown .navbar-item {
  padding: 1rem;
  white-space: nowrap; }

.navbar-dropdown .navbar-item .icon {
  margin-right: 10px; }

.is-show {
  opacity: 1 !important;
  transform: translate(0, 0px) !important;
  transition: all 320ms ease-in-out !important; }

.search-bar {
  border-radius: 4px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center; }

.search-bar .icon {
  font-size: 20px;
  position: relative;
  background-color: #194690;
  padding: 12px;
  min-width: 120px;
  min-width: 120px;
  border-radius: 4px 4px 4px 50px;
  text-align: center;
  margin-left: -50px;
  color: #fff;
  overflow: hidden; }
  .search-bar .icon i.fa-search, .search-bar .icon i.fa-arrow-right {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: relative; }

i.fa-arrow-right {
  opacity: 0;
  visibility: hidden;
  left: -40px; }

i.fa-search {
  opacity: 1;
  visibility: visible;
  left: -5px; }

.search-bar .icon:hover > i.fa-arrow-right {
  opacity: 1;
  visibility: visible;
  left: 20px; }

.search-bar .icon:hover > i.fa-search {
  opacity: 0;
  visibility: hidden;
  left: 30px; }

.search-bar .input {
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #fff;
  min-width: 450px;
  min-width: 450px;
  font-size: 16px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 12px 15px 12px 15px; }

.logo {
  padding: 1rem 2rem;
  position: absolute;
  top: -2px;
  margin-left: 9px;
  transform: skew(-15deg);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  height: 55px; }
  .logo img {
    transform: skew(15deg); }

.account {
  background-color: #5916d6;
  padding: 0 1.5rem;
  color: #fafafa; }

.account img {
  height: 30px;
  border-radius: 25px;
  margin-left: 8px; }

.account p {
  margin-left: 8px; }

.account .icon {
  margin-left: 8px; }

.button-cart {
  padding: 5px 8px;
  background-color: #fff;
  color: #3273dc !important;
  border-radius: 25px; }

.button-cart > .icon {
  opacity: 0;
  transition: all .3s;
  position: relative;
  left: -30px;
  visibility: hidden; }

.button-cart > .text {
  transition: all .3s;
  position: relative;
  visibility: visible;
  left: -12px; }

.button-cart > .cart-count {
  background-color: #3273dc;
  color: #fff;
  padding: 0 6px;
  border-radius: 25px; }

.button-cart.shop:hover > span.text {
  opacity: 0;
  left: 30px;
  visibility: hidden; }

.button-cart.shop:hover > span.icon {
  opacity: 1;
  left: 19px;
  visibility: visible; }

.checkout {
  background-color: #3273dc !important;
  color: #fff !important;
  border-radius: 4px; }

.checkout:not(:last-child) {
  margin-right: 10px; }

.is-link {
  background-color: transparent !important;
  color: #3273dc !important;
  border: 1px solid #3273dc !important; }

/*# sourceMappingURL=catalog-main.css.map */
