@import '6-utilities/initial-variables';

body {
	height: 100%;
	position: relative;
}

#unscrollable { 
    overflow: hidden;
}
#unscrollable::-webkit-scrollbar {
	display: none;
}


.bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
    background-image: url(../img/bg.jpg);
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;

  }

.login-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;

	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;

	.left-side {
		background-color: #fff;
		-webkit-clip-path: polygon(0% 0%, 66% 0, 100% 60%, 75% 100%, 0% 100%);
		clip-path: polygon(0% 0%, 66% 0, 100% 60%, 75% 100%, 0% 100%);
		position: absolute;
		height: 100%;
		width: calc(50% - 5rem);
		display: flex;
		align-items: start;
		flex-direction: column;
		padding-top: 8rem;
		padding-left: 5rem;
	}

	.right-side {
		display: flex;
		align-items: center;
		position: relative;
		width: 50%;
		justify-content: center;

		.logo {
			height: 180px;
		}
		
	}
}

.title {
	display: flex;
	font-size: 2.75rem;
	font-family: $nunito;
	font-weight: 300;
	flex-wrap: wrap;
	// flex-direction: column;
	width: 100%;
	line-height: 1.2;
	color: #b32b87;

	span.bold {
		font-weight: 700;
	}

	span.sub-title {
		font-size: 1rem;
		width: 100%;
		color: $text-light;
		font-weight: 400;
		letter-spacing: 1.5px;
	}
}

// form 

.form-wrapper {
	width: 100%;
	padding: 3rem 0;
	display: flex;
	flex-direction: row;

	.form {
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		fieldset {
			border: none;
			outline: none;
		}

		.form-control {
			width: 100%;
			display: flex;
			font-family: $nunito;
			margin-bottom: 15px;

			label {
				font-size: 1rem;
				color: $text-light;
				font-weight: 700;
			}

			input {
				padding: 5px 15px;
				width: calc(100% - 0px);
				border-radius: 4px;
				border: 1px solid #ddd;
			}
		}

		.add-on {
			display: flex;
			flex-direction: row;
			font-size: 14px;
			color: $text-light;
			padding: 5px 15px;
			position: relative;
			margin-top: -10px;

			.checkbox {
				display: flex;
				align-items: center;

				input[type='checkbox'] {
					margin-right: 5px;
				}
			}

			.link {
				margin-left: auto;
			}
		}

		.button-group {
			margin-top: 3rem;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;

			button {
				width: 150px;
				justify-content: center;
			}
		}
	}
}